

.hola{
    display:none;
}
header{
    background-color: darkblue;
    height: 100px;

}
nav{
    list-style:none;
    
    padding:45px;
    
}

li{
    display: inline;
    margin: 10px 40px;
    color:white;
    
}

footer{
    background-color:white;
    text-align: left;
}
div{display:inline}
#col-izq{color:white;width: 60%;
background-color: red;height: 400px;float:left}

#col-der{color:white;width: 40%;background-color: green;
height: 400px;float:left}