/* Disclaimer: ustedes haganlo bien*/
/* 1º: desplazamiento horizontal de la sombra
2º: desplazamiento vertical de la sombra
3º: radio de la sombra
4º: spread (extension)
5º: color */


h1 {
    text-shadow: 20px 20px #FF0000, 10px 10px  #0000FF;
}
h2{
    color:red;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
span{
    border-style: solid;
    border-color: red;
    box-shadow: 10px 10px;
}
input{
    box-shadow: 10px 10px 10px green; 
}
#img-1{
    border-radius: 50%;
    box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
}
#hola{ 
    position: relative; 
   -webkit-box-shadow:  0 0 10px 10px #000;    
     -moz-box-shadow:  0 0 10px 10px #000;
     box-shadow:  0 0 10px 10px #000;
 
 }
