header{
    background-color: black;
    color:white;
    position: sticky;
    top:0px;}
nav{
    list-style: none;}
li{
    display: inline-block;
    width:25%;
    position: relativa;
    font-size: 14px;}
nav ul{
    position:absolute;
    display:none;}
nav ul li{display:block;}
nav li:hover ul{
    display: block;
    color:black;
    background-color: black;
    color:white;}